{% extends 'base.html' %}

{% load static %}
{% block title %}
Blogs
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/style_blog.css' %}">
{% endblock %}


{% block content %}
<div class="container-lg intros">
    <div class="intro">
        <img src="{% static 'admin/img/blog 1.svg' %}" alt="blog-icon">
        <h1 class="intro-title">Blogs.</h1>
        <p class="intro-subtitle">things you might want to know <br>about <span>quarantine</span> and such.</p>
    </div>
</div>

{% if not blogs %}
<div class="container-lg blog-warning">
    <div class="blog-warn">
        <h1>There are <span class="bold-red">no blogs</span> to be found so far. Add yours!</h1>
        <a class="btn btn-lg" href="{% url 'blogs:blog_form' %}" role="button">Add</a>
    </div>
</div>

{% else %}
<div class="container-fl blog-preview">
    <div class="row">
        {% for blog in blogs %}
        <div class="col-lg-4 d-flex align-items-stretch">
            <div class="card h-100">
                <h3 class="card-title h-100">{{blog.title}}</h3>
                <p class="card-text h-100">{{blog.content|truncatewords:15}}</p>
                <div class="button-more">
                    <a class="btn btn-lg" href="{% url 'blogs:blog_content' blog.title %}" role="button">More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}