{% extends 'base.html' %}

{% load static %}
{% block title %}
Blogs
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/style_blog.css' %}">
{% endblock %}


{% block content %}
<div class="container-lg blog-content">
    <div class="blog-about">
        <div class="blog-info">
            <h1 class="title">{{blog.title}}</h1>
            <h2 class="subtitle">By:<br>{{blog.name}}</h2>
        </div>
    </div>
    <p class="long-par">{{blog.content}}</p>
    
    <div class="blog-likes">
        <form action="{% url 'blogs:like' blog.title %}" method="POST">
            {% csrf_token %}
            {% if liked %}
            <input type="image" src="{% static 'admin/img/heart-like.svg' %}" alt="Unlike">
            {% else %}
            <input type="image" src="{% static 'admin/img/heart-unlike.svg' %}" alt="Like">
            {% endif %}
        </form>
        <h3 class="like-counter">{{blog.blogTotalLikes}}</h3>
    </div>
    
</div>

<div class="container-lg blog-comment">
    <div class="list-comment">
        <h1><span class="bold-red">comments</span></h1>
        
        {% for com in blog.comment.all %}
        <div class="comment">
            <h3><span class="bold-red">{{com.commenter}}</span> - ({{com.date_created}})</h3>
            <p class="long-par">{{com.message}}</p>
        </div>
        {% endfor %}
        
    </div>
    <div class="comment-form">
        {% if blog.comment.all %}
        <h1>Add your comment <span class="bold-red">here!</span></h1>
        {% else %}
        <h1>There are <span class="bold-red">no comments</span> so far. Add <span class="bold-red">yours!</span></h1>
        {% endif %}
        <div class="form-group">
            <form action="#" method="post">
            {% csrf_token %}
            {{cform}}
            <div class="send-btn">
                <input class="btn btn-dark btn-lg but-add" type="submit" value="Add comment">
            </div>
            </form>
        </div>
    </div>
</div>

<div class="container-lg blog-form">
    <h1>This is <span class="bold-red">our story,</span> tell us about <span class="bold-red">yours.</span></h1>
    <div class="form-group">
        <form action="{% url 'blogs:blog_form' %}" method="post">
        {% csrf_token %}
        {{form}}
        <div class="send-btn">
            <input class="btn btn-dark btn-lg but-add" type="submit" value="Send">
        </div>
        </form>
    </div>
</div>
{% endblock %}