{% extends 'base.html' %}

{% load static %}
{% block title %}
Blogs
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/style_blog.css' %}">
{% endblock %}


{% block content %}
<div class="container-lg blog-form polos">
    {% if not name %}
    <h1>Hi, Tell us about <span class="bold-red">your story.</span></h1>
    {% else %}
    <h1>Hi {{name}}, Tell us about <span class="bold-red">your story.</span></h1>
    {% endif %}
    <div class="form-group">
        <form action="" method="post">
        {% csrf_token %}
        {{form}}
        <div class="send-btn">
            <input class="btn btn-dark btn-lg but-add" type="submit" value="Send">
        </div>
        </form>
    </div>
</div>
{% endblock %}