{% extends 'base.html' %}

{% load static %}

{% block title %}About us{% endblock %}

<!--Tambahan css-->
{% block css %}
    {% if submitted %}
        <link rel="stylesheet" href="{% static 'admin/css/style_feedback.css' %}">
        <link rel="stylesheet" href="{% static 'admin/css/style_feedback_column.css' %}" media="screen and (max-width:500px)">
        <link rel="stylesheet" href="{% static 'admin/css/style_feedback_carousel.css' %}" media="screen and (min-width:501px)">
    {% else %}
        <link rel="stylesheet" href="{% static 'admin/css/style_us.css' %}">
        <link rel="stylesheet" href="{% static 'admin/css/style_us_responsive.css' %}">
    {% endif %}
{% endblock %}

<!--Block content-->
{% block content %}
{% if submitted %}
<div class="container-fluid">
    <div class="container-fluid py-4 has-submit text-center">
        <h1>Thanks for your <span>feedback!</span></h1>
    </div>
    <div class="container-fl feeds-part mb-4 text-center">
        <!-- Slideshow container -->
        <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            {% for feedback in feedbacks %}
            <div class="mySlides">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ feedback.nama|truncatechars:15 }}</h4>
                        <p class="card-text">{{ feedback.pesan|truncatechars:200 }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        {% block js %}
            <script type="text/javascript" src="{% static 'admin/js/enquire.js' %}"></script>
            <script type="text/javascript">

                // This loads JS files in the head element
                    function loadJS(url)
                    {
                        // adding the script tag to the head
                        var head = document.getElementsByTagName('head')[0];
                        var script = document.createElement('script');
                        script.type = 'text/javascript';
                        script.src = url;
                
                        // fire the loading
                        head.appendChild(script);
                    }
                
                </script>
            <script type="text/javascript">
                enquire.register("screen and (min-width: 501px)", {
                    match : function() {
                        // Load a mobile JS file
                        loadJS("{% static 'admin/js/carousel.js' %}");
                    }
                })
            </script>                      
        {% endblock js %}
    </div>
</div>
{% else %}
    <div class="container-fluid intros">
        <div class="intro mx-auto">
            <img src="{% static 'admin/img/Group.svg' %}" alt="blog-icon">
            <h1 class="intro-title">US.</h1>
            <p class="intro-subtitle">here's our <span>team</span>,<br>desparetely need more <span>sleep</span></p>
        </div>
    </div>
    <div class="container-fluid author-right">
        <div class="row">
            <div class="col col-lg-7">
                <div class="d-flex h-100">
                    <div class="text-right align-self-center ml-auto right-author">
                        <h1 class="author-nick author-nick-right">EBA</h1>
                        <h3 class="author-name author-name-right">Eba Ginting</h3>
                        <p class="author-desc author-desc-right">"it's just three letters. no mispell is allowed."</p>
                        <div class="button-right">
                            <button type="button" onclick="location.href='https://eba-app.herokuapp.com/';" class="btn rounded-pill">more</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-5 p-0 m-0">
                <img src="{% static 'admin/img/app3/eba.jpg' %}" class="author-photo">
            </div>
        </div>
    </div>
    <div class="container-fluid author-left">
        <div class="row">
            <div class="col col-lg-5 p-0 m-0">
                <img src="{% static 'admin/img/app3/timi.jpg' %}" class="author-photo">
            </div>
            <div class="col col-lg-7">
                <div class="d-flex h-100">
                    <div class="text-left align-self-center pl-5 author-info-left">
                        <h1 class="author-nick author-nick-left">TIMMY</h1>
                        <h3 class="author-name author-name-left">Timothy Efraim</h3>
                        <p class="author-desc author-desc-left">"heccing hecc."</p>
                        <div class="button-left">
                            <button type="button" onclick="location.href='https://timmyworks.herokuapp.com/';" class="btn rounded-pill">more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid author-right">
        <div class="row">
            <div class="col col-lg-7">
                <div class="d-flex h-100">
                    <div class="text-right align-self-center ml-auto right-author">
                        <h1 class="author-nick author-nick-right">Widy</h1>
                        <h3 class="author-name author-name-right">Widyanto Hadi</h3>
                        <p class="author-desc author-desc-right">"Jangan kebanyakan belajar"</p>
                        <div class="button-right">
                            <button type="button" onclick="location.href='https://widyantohd.xyz/';" class="btn rounded-pill">more</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-5 p-0 m-0">
                <img src="{% static 'admin/img/app3/widy.jpg' %}" class="author-photo">
            </div>
        </div>
    </div>
    <div class="container-fluid author-left">
        <div class="row">
            <div class="col col-lg-5 p-0 m-0">
                <img src="{% static 'admin/img/app3/zul.jpg' %}" class="author-photo">
            </div>
            <div class="col col-lg-7">
                <div class="d-flex h-100">
                    <div class="text-left align-self-center pl-5">
                        <h1 class="author-nick author-nick-left">Zul</h1>
                        <h3 class="author-name author-name-left">Zulfahri Haradi</h3>
                        <p class="author-desc author-desc-left">"Roses are red, violets are blue, ppw is pain"</p>
                        <div class="button-left">
                            <button type="button" onclick="location.href='https://story5-zul.herokuapp.com/';" class="btn rounded-pill">more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fl feedback-part p-4" id="feedback">
        <div class="wrapper-feedback">
        <form action="#" method="POST">
            <div class="d-flex flex-column mx-auto">
                <div class="short-message mx-auto">
                    <h1>Got a <span>feedback</span> for us? Let us <span>hear!</span></h1>
                </div>
                <div class="feedback-form">
                    <div class="form-group">
                        {% csrf_token %}
                        {{form.pesan}}
                    </div>
                </div>
                <div class="button-submit mx-auto">
                    <button type="submit" class="btn">submit</button>
                </div>
            </div>
        </form>
        </div>
    </div>
{% endif %}
{% endblock %}
