{% extends 'base.html' %}

{% load static %}
{% block title %}
Games
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/style_games.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/style_poll.css' %}">
{% endblock %}

{% block content %}
<div class="container-lg games">
    <div class="games-about">
        <img src="{% static 'admin/img/Console (1).svg' %}" alt="console-icon">
        <div class="games-desc">
            <h1 class="title">g<span class="red">am</span>e<span class="red">s</span></h1>
            <p class="desc">Quarantine may sucks, but games keeps on giving! 
                Many new games comes with <span class="red">multiplayer</span> so that you can have <span class="red">fun together</span>, 
                even when you’re not directly together.</p>
        </div>
    </div>
</div>

<div class="container-lg games-benefit">
    <div class="benefit">
        <h1 id="benefits">#bene<br><span class="red">fits</span>.</h1>
        <div class="list-benefit">
            <ul>
                <div class="list-bulet">
                    <li><a href="/">reduce boringness</a></li>
                </div>
                <div class="list-bulet">
                    <li><a href="/">may develop new skills related to games</a></li>
                </div>
                <div class="list-bulet">
                    <li><a href="/">get close to friends</a></li>
                </div>
                <div class="list-bulet">
                    <li><a href="/">stress-reliever</a></li>
                </div>
            </ul>
        </div>
    </div>
</div>

<div class="container-lg short-msg">
    <h1 class="msg-title"><span class="red">game</span> on!</h1>
</div>

<div class="container-fl showcase">
    <div class="case">
        <div class="img__wrap">
            <img class="img__img" src="{% static 'admin/img/image-6.jpg' %}" />
            <div class="img__description_layer">
                <h1 class="img__title">Fall Guys<br>(2020)</h1>
                <p class="img__description">Fall Guys is a massively multiplayer party game with up to 60 players online 
                    in a free-for-all struggle through round after round of escalating chaos until one victor remains!</p>
                <h1 class="img__title">Battle Royale, Multiplayer</h1>
            </div>
        </div>

        <div class="img__wrap">
            <img class="img__img" src="{% static 'admin/img/image-7.jpg' %}" />
            <div class="img__description_layer">
              <h1 class="img__title">Among Us<br>(2018)</h1>
                <p class="img__description">Join your crewmates in a multiplayer game of teamwork and betrayal as you attempt to hold your spaceship together and return back to civilization. 
                    But beware...as there may be an alien impostor aboard!</p>
                <h1 class="img__title">Betrayal, Teamwork, Multiplayer</h1>
            </div>
        </div>

        <div class="img__wrap">
            <img class="img__img" src="{% static 'admin/img/image-8.jpg' %}" />
            <div class="img__description_layer">
                <h1 class="img__title">Rocket League<br>(2015)</h1>
                <p class="img__description">Rocket League is a high-powered hybrid of arcade-style soccer and vehicular mayhem with easy-to-understand controls and fluid, physics-driven competition.</p>
                <h1 class="img__title">Sports, Multiplayer</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-lg games-sources">
    <h1 id="sources">#sour<br><span class="red">ces</span>.</h1>
    <div class="list-sources">
        <img src="{% static 'admin/img/steam-logo 1.svg' %}" alt="console-icon">
        <img src="{% static 'admin/img/playstore 1.svg' %}" alt="console-icon">
        <img src="{% static 'admin/img/image 10.svg' %}" alt="console-icon">
        <img src="{% static 'admin/img/app-store 1.svg' %}" alt="console-icon">
    </div>
</div>

<div class="container-fl poll-msg">
    <div class="p-msg">
        <h1 class="msg-title">Vote our Recommendation!</h1>
        <p>#now_or_never</p>
    </div>
</div>

<div class="container-fl poll">
    <div class="poll-title">
        <h1><span class="red">G</span>am<span class="red">e</span>s</h1>
        <img src="{% static 'admin/img/Console-sm.svg' %}" src="">
    </div>
    {% include 'app4/poll.html' %}
</div>

{% endblock %}

