{% extends 'base.html' %}

{% load static %}
{% block title %}
Games
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/style_movies.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/style_poll.css' %}">
{% endblock %}

{% block content %}
<div class="container-lg movies">
    <div class="movies-about">
        <img src="{% static 'admin/img/movies.svg' %}" alt="console-icon">
        <div class="movies-desc">
            <h1 class="title"><span class="red">mov</span>i<span class="red">e</span>s</h1>
            {% comment %} <p class="desc">Quarantine may sucks, but games keeps on giving! 
                Many new games comes with <span class="red">multiplayer</span> so that you can have <span class="red">fun together</span>, 
                even when you’re not directly together.</p> {% endcomment %}
            <p class="desc">While on quarantine, you might be bored cause 
            doing nothing. <span class="red">STOP</span> wasting your time, watch movies and get 
            <span class="red">5 benefits</span> from doing so! </p>
        </div>
    </div>
</div>

<div class="container-lg movies-benefit">
    <div class="benefit">
        <h1 id="benefits">#bene<br><span class="red">fits</span>.</h1>
        <div class="list-benefit">
            <ul>
                <div class="list-bulet">
                    <li><a href="/">help us learn through the actors stories</a></li>
                </div>
                <div class="list-bulet">
                    <li><a href="/">can drive social change</a></li>
                </div>
                <div class="list-bulet">
                    <li><a href="/">help us process difficult life lessons</a></li>
                </div>
                <div class="list-bulet">
                    <li><a href="/">(are) still a social experience</a></li>
                </div>
                <div class="list-bulet">
                    <li><a href="/">help us appreciate art</a></li>
                </div>
            </ul>
        </div>
    </div>
</div>

<div class="container-lg short-msg">
    {% comment %} <h1 class="msg-title"><span class="red">game</span> on!</h1> {% endcomment %}
    <h1 class="msg-title"><span class="red">suit</span> your <span class="red">taste.</span></br>
    <span class="red">find</span> your <span class="red">happiness!</span></h1>
</div>

<div class="container-fl showcase">
    <div class="case">
        <div class="img__wrap">
            <img class="img__img" src="{% static 'admin/img/shining.jpg' %}" />
            <div class="img__description_layer">
                <h1 class="img__title">The SHINING<br>(1980)</h1>
                <p class="img__description">A family heads to an isolated hotel for the winter where a sinister presence influences the father into violence, while his psychic son sees horrific forebodings from both past and future.</p>
                <h1 class="img__title">Drama, Horror</h1>
            </div>
        </div>

        <div class="img__wrap">
            <img class="img__img" src="{% static 'admin/img/once.jpg' %}" />
            <div class="img__description_layer">
              <h1 class="img__title">Once Upon A Time In Hollywood<br>(2019)</h1>
                <p class="img__description">A faded television actor and his stunt double strive to achieve fame and success in the final years of Hollywood's Golden Age in 1969 Los Angeles.</p>
                <h1 class="img__title">Comedy, Drama</h1>
            </div>
        </div>

        <div class="img__wrap">
            <img class="img__img" src="{% static 'admin/img/lalaland.jpg' %}" />
            <div class="img__description_layer">
                <h1 class="img__title">La La LAND<br>(2016)</h1>
                <p class="img__description">While navigating their careers in Los Angeles, a pianist and an actress fall in love while attempting to reconcile their aspirations for the future.</p>
                <h1 class="img__title">Romance, Drama, Music</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fl showcase">
    <div class="case">
        <div class="img__wrap">
            <img class="img__img" src="{% static 'admin/img/avengers.jpg' %}" />
            <div class="img__description_layer">
                <h1 class="img__title">AVENGERS<br>(2002 - 2019)</h1>
                <p class="img__description">Marvel’s SuperHero series, you can watch each series of the SuperHero so you can know more about each one of them, and watch Avengers if you to see their chemistry!<strong> GO BINGE-WATCH! </strong></p>
                <h1 class="img__title">Action, Adventure, Sci-Fi</h1>
            </div>
        </div>

        <div class="img__wrap">
            <img class="img__img" src="{% static 'admin/img/harry.jpg' %}" />
            <div class="img__description_layer">
              <h1 class="img__title">Harry Potter<br>(2001 - 2011)</h1>
                <p class="img__description">Harry Potter and the Philosopher's Stone is a 2001 fantasy film directed by Chris Columbus and distributed by Warner Bros. Pictures, based on J. K. Rowling's 1997 novel of the same name.<strong> GO BINGE-WATCH!</strong></p>
                <h1 class="img__title">Adventure, Family, Fantasy</h1>
            </div>
        </div>

        <div class="img__wrap">
            <img class="img__img" src="{% static 'admin/img/joker.jpg' %}" />
            <div class="img__description_layer">
                <h1 class="img__title">JOKER<br>(2019)</h1>
                <p class="img__description">In Gotham City, mentally troubled comedian Arthur Fleck is disregarded and mistreated by society. He then embarks on a downward spiral of revolution and bloody crime. This path brings him face-to-face with his alter-ego: the Joker.</p>
                <h1 class="img__title">Crime, Drama, Thriller</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-lg movies-sources">
    <h1 id="sources">#sour<br><span class="red">ces</span>.</h1>
    <div class="list-sources">
        <img src="{% static 'admin/img/netflix 1.svg' %}" alt="console-icon">
        <img src="{% static 'admin/img/hbo 1.svg' %}" alt="console-icon">
        <img src="{% static 'admin/img/app3/app4/source_youtube.svg' %}" alt="console-icon">
    </div>
</div>

<div class="container-fl poll-msg">
    <div class="p-msg">
        <h1 class="msg-title">Vote our Recommendation!</h1>
        <p>#now_or_never</p>
    </div>
</div>

<div class="container-fl poll">
    <div class="poll-title">
        <h1><span class="red">Mov</span>i<span class="red">e</span>s</h1>
        <img src="{% static 'admin/img/Movies-sm.svg' %}" src="">
    </div>
    {% include 'app4/poll.html' %}
</div>

{% endblock %}

