{% extends 'base.html' %}

{% load static %}
{% block title %}
Podcast
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/style_podcast.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/style_poll.css' %}">
{% endblock %}

{% block content %}
<div class="container-lg podcast">
    <div class="podcast-about">
        <img src="{% static 'admin/img/app3/app4/podcast_logo.svg' %}" alt="console-icon">
        <div class="podcast-desc">
            <h1 class="title">POD<span class="red">CAST</span></span></h1>
            <p class="desc">In these times, there are many podcast comes with <span class="red">interesting talks.</span>
                 In fact, this podcast thingy became <span class="red">popular.</span></p>
        </div>
    </div>
</div>

<div class="container-lg podcast-benefit">
    <div class="benefit">
        <h1 id="benefits">#bene<br><span class="red">fits</span>.</h1>
        <div class="list-benefit">
            <ul>
                <div class="list-bulet">
                    <li><a href="/">discovering new things</a></li>
                </div>
                <div class="list-bulet">
                    <li><a href="/">beneficial free times</a></li>
                </div>
                <div class="list-bulet">
                    <li><a href="/">learn from other experiences</a></li>
                </div>
            </ul>
        </div>
    </div>
</div>

<div class="container-lg short-msg">
    <h1 class="msg-title">we're <span class="red">going</span> real <span class="red">deep.</span></h1>
</div>

<div class="container-fl showcase">
    <div class="case-wrapper">
        <div class="case">
            <div class="img__wrap">
                <img class="img__img" src="{% static 'admin/img/app3/app4/pd_1.jpg' %}" />
                <div class="img__description_layer">
                    <h1 class="img__title">PORD</h1>
                    <h4 class="img__description">Raditya Dika</h4>
                    <h3 class="img__title">Society & Culture, Educational</h3>
                </div>
            </div>
            <div class="img__wrap">
                <img class="img__img" src="{% static 'admin/img/app3/app4/pd_2.jpg' %}" />
                <div class="img__description_layer">
                    <h1 class="img__title">Menjadi Manusia,</h1>
                    <h4 class="img__description">Doni Febriando</h4>
                    <h3 class="img__title">Lifestyle and Health</h3>
                </div>
            </div>
        </div>
        <div class="case" id="second-case">
            <div class="img__wrap">
                <img class="img__img" src="{% static 'admin/img/app3/app4/pd_3.jpg' %}" />
                <div class="img__description_layer">
                    <h1 class="img__title">Do you see what I see</h1>
                    <h4 class="img__description">Rizki Ardi Nugroho</h4>
                    <h3 class="img__title">Stories, Horor</h3>
                </div>
            </div>
            <div class="img__wrap">
                <img class="img__img" src="{% static 'admin/img/app3/app4/pd_4.jpg' %}" />
                <div class="img__description_layer">
                    <h1 class="img__title">#NgobrolinStartup</h1>
                    <h4 class="img__description">DailySocial</h4>
                    <h3 class="img__title">Bussiness and Tech</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-lg podcast-sources">
    <h1 id="sources">#sour<br><span class="red">ces</span>.</h1>
    <div class="list-sources">
        <img src="{% static 'admin/img/app3/app4/source_spotify.svg' %}" alt="console-icon">
        <img src="{% static 'admin/img/app3/app4/source_google.svg' %}" alt="console-icon">
        <img src="{% static 'admin/img/app3/app4/source_soundcloud.svg' %}" alt="console-icon">
    </div>
</div>

<div class="container-fl poll-msg">
    <div class="p-msg">
        <h1 class="msg-title">Vote our Recommendation!</h1>
        <p>#now_or_never</p>
    </div>
</div>

<div class="container-fl poll">
    <div class="poll-title">
        <h1><span class="red">Pod</span>cast</h1>
        <img src="{% static 'admin/img/Podcast-sm.svg' %}" src="">
    </div>
    {% include 'app4/poll.html' %}
</div>

{% endblock %}