{% if not cek %}
<div class="container">
	{% if not name %}
	<h2> Hi there, let's vote our recommendation.</h2>
	{% else %}
	<h2> Hi {{name}}, let's vote our recommendation.</h2>
	{% endif %}
	<form action="poll/#result-poll" method="post">
	{% csrf_token %}
	<div class="poll-wrapper">
		{% for m in object %}
		<div class="poll-item">
			<input type="radio" id="{{m.name}}" name="item" value="{{m.id}}">
  			<label for="{{m.name}}"><span><span></span></span>{{m.name}}</label><br>
		</div>
	{% endfor %}
	</div>
	<div class="input-btn">
		<input type="submit"/>
	</div>
	</form>
</div>
{% else %}
<div id="result-poll" class="container">
	{% if not name %}
	<h2> Thanks for your votes! And let us know your name, fill it in <a href="{% url 'home:index' %}"> Home</a></h2>
	{% else %}
	<h2> Thanks {{name}} for your votes!</h2>
	{% endif %}
	<div class="result-poll-wrapper">
		{% for m in object %}
		<div class="result-poll-item">
			<h3 class="result-poll-label">{{m.name}}<!-- poll : {{m.poll}}--></h3>
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: {{m.avg}}%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">{{m.avg}}%</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}