{% extends 'base_nofooter.html' %}

{% load static %}
{% block title %}
Recommendation
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/style_rekomendasi.css' %}">
{% endblock %}


{% block content %}
<div class="container-lg intros">
    <div class="intro">
        <img src="{% static 'admin/img/checklist 1.svg' %}" alt="recomm-icon">
        <div class="long-title">
            <h1 class="intro-title">Recommendation.</h1>
        </div>
        <p class="intro-subtitle">there are a <span>lot of things</span> to do,</p>
        <ul class="list-recomm">
            <li><a href="{% url 'recommendation:music' %}">music</a></li>
            <li><a href="{% url 'recommendation:movies' %}">movies</a></li>
            <li><a href="{% url 'recommendation:games' %}">games</a></li>
            <li><a href="{% url 'recommendation:podcast' %}">podcast</a></li>
        </ul>
        <div class="arrow">
            <img src="{% static 'admin/img/icon arrow.svg' %}" alt="arrow-icon">
        </div>
    </div>
</div>

{% endblock %}