{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS Layout -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- Tambahan CSS -->
    <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/header_footer.css' %}">
    {% block css %}

    {% endblock css %}

    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-dark shadow-sm py-3">
            <div class="container">
                <a class="navbar-brand" href="/"></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link scroll-link" href="{% url 'home:index' %}">home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link scroll-link" href="{% url 'about:index' %}">about</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link scroll-link" href="{% url 'blogs:index' %}">blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link scroll-link" href="{% url 'recommendation:index' %}">recommendation</a>
                        </li>
                        <!--<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'recommendation:index' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            recommendation
                        </a>-->
                        
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% block content %}
    
    {% endblock content %}


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    
    {% block js %}

    {% endblock js %}
  
</body>
</html>
