{% extends 'base_kosong.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'admin/css/homep.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/homepage_respons.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sidebarnews.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sidebar_responsives.css' %}">
{% endblock css %}


{% block title %}Homepage{% endblock title %}

{% block content %}

{% if not name %}
<div class="container">
	<div class = "wrap">
		<div class="form-form-group col-md-12 title">
			<h1 span class="well">WELCOME!</h1>	
			<h2 span class="what">What's your name?</h2>
		</div>

		<form method="post">
		{% csrf_token %}
			<div class="form-row">
				<div class="form-group col-md-12">
				{{form.name}}
				</div>
			</div>
		<button type="submit" class="btn">Submit</button>
		</form>
	</div>
</div>


{% else %}
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
<!-- The sidebar -->
{% comment %} <div class="row home">
<div class="sidebar"> {% endcomment %}
	<a href="{% url 'about:index' %}" class="icon">
		<img src="{% static 'admin/img/Group_home.svg' %}" alt="console-icon" >
	</a>
	<a href="{% url 'blogs:index' %}" class="icon">
		<img src="{% static 'admin/img/blog 1_home.svg' %}" alt="console-icon" >
	</a>
	<a href="{% url 'recommendation:index' %}" class="icon">
		<img src="{% static 'admin/img/checklist 1_home.svg' %}" alt="console-icon" >
	</a>
</div>

<div id="main">
  	
<!-- Page content -->
		<div class="container-fluid home ">
			<button class="openbtn" onclick="openNav()">>>></button> 
			<div class="row rapi">
				<div class="col col-lg-7">
					<div class="d-flex h-100">
						<div class="text-left align-self-center pads">
							<h5 class="red first"> Hello, {{name}}. </h5>
							<h2 class="yellow second"> What to do during, </h2>
							<h1 class="wellcom red left third"> QUARAN </h1>
							<h1 class="wellcom red left"> TINE? </h1>
							<p class="descrip yellow"> Got nothing to do at home? You are stuck on your mind? Got bored during your quarantine? <strong class="red" > Explore US! </strong> and we'll show you something fun</p>
						</div>
					</div>
				</div>
				<div class="col col-lg-5 p-0 m-0">
					<img src="{% static 'admin/img/gify.gif' %}" class="dekstop">
				</div> 
			</div>
		</div>
</div>

<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "150px";
  document.getElementById("main").style.marginLeft = "150px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>  
   
{% endif %}

{% endblock content %}

{% block js %}
    
{% endblock js %}
