header .navbar{
    background-color: #000000;
}

header nav.navbar ul li{
    font-size: 1.35rem;
    padding-left: 10px;
}

footer{
    background-color: #000000;
    color: #DE4F22;
}

footer .footer-content{
    display: flex;
    justify-content: space-between;
}

footer .footer-content p{
    font-size: 1.35rem;
    margin-bottom: 0;
    padding: 7px 20px 7px 20px;
}

footer .footer-content p a, #backtop_logo, #backtop_text{
    font-size: 1.4rem;
    text-decoration: none;
    color: #DE4F22;
}

.top{
    display: flex;
    margin-left: 20px;
}

.top img{
    align-self: center;
    max-width: 5vw;
    
}

.top p{
    text-transform: uppercase;
    font-weight: bold;
    align-self: center;
    text-align: left;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

@media (max-width: 991.98px) {
    header nav.navbar ul {
        margin-top: 15px;
    }

    header nav.navbar ul li{
        font-size: 1.7rem;
        text-align: right;
    }

    footer .footer-content p a{
        font-size: 1.2rem;
        
    }
}

@media (max-width: 575.98px) {
    header nav.navbar ul li{
        font-size: 1.7rem;
        text-align: center;
    }

    footer .footer-content p{
        font-size: 0.9rem;
        margin-bottom: 0;
        padding: 7px 20px 7px 20px;
    }

    footer .footer-content p a{
        font-size: 3vw;
        
    }

    .top p{
        display: none;
    }
    
}