 /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
 @media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

@media screen and (max-width: 1025px) and (max-height: 448px){
    .dekstop{
        width: 323px;
    }

    .second{
        font-size: 25px;
    }

    .wellcom{
        font-size: 6.5rem;
    }

    .third{
      height: 100px;
    }

    .descrip{
        font-size: 18px;
    }
}

@media screen and (max-width: 1160px){
  .dekstop{
      width: 323px;
  }

  .second{
      font-size: 25px;
  }

  .wellcom{
      font-size: 6.5rem;
  }

  .third{
    height: 100px;
  }

  .descrip{
      font-size: 18px;
  }
}


@media screen and (max-width: 1025px){
  .dekstop{
      display: none;
  }
}

@media screen and (max-width: 826px){
    .home{
        padding-left : 0 !important;
    }
}

@media screen and (max-width: 416px){
    .wellcom{
        font-size: 4rem;
    }
  
    .third{
      height: 50px;
    }
  
    .descrip{
        font-size: 15px;
    }
}

/* @media screen and (max-width: 376px){
    .wellcom{
        font-size: 4rem;
    }
  
    .third{
      height: 50px;
    }
  
    .descrip{
        font-size: 15px;
    }
} */