/* Recommendation */

/* First page of recomm. */
body{
    background-color: #FFD162;
}

.container-lg.intros{
    display: flex;
    margin-top: 65px;
}

.intro{
    text-align: center;
    margin: auto;
}

.intro img{
    max-width: 25%;
    margin-bottom: 30px;
}


.intro-title{
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
}

.intro-subtitle{
    font-size: 2.5rem;
}

.intro-subtitle span{
    color: #DE4F22;
    font-weight: bold;
}

/* Others */
ul.list-recomm{
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-evenly;
}

ul.list-recomm li a{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

ul.list-recomm li a:hover{
    color: #DE4F22;
}

.intro .arrow img{
    max-width: 4%;
   
}

@media (max-width: 991.98px) {
    .intro-title{
        font-size: 4.65rem;
    }
}

@media (max-width: 767.98px) {
    *{
        font-size: 90%;
    }

    .intro-title{
        word-break: break-all;
    }

    span{
        font-size: inherit;
    }

    .intro img{
        max-width: 30%;
        
    }
}

@media (max-width: 575.98px) {
    *{
        font-size: 80%;
    }

    .intro img{
        max-width: 35%;
        
    }

    ul.list-recomm{
        justify-content: space-between;
    }

    .intro .arrow img{
        max-width: 5%;
       
    }
    
}

@media (max-width: 499.98px) {
    *{
        font-size: 80%;
    }

    .intro img{
        max-width: 40%;
        
    }
    ul.list-recomm{
        display: block
    }

    ul.list-recomm li{
        margin: 15px 0;
        text-decoration: underline;
    }
}