body{
    background-color: #FFD162;
    min-width: 300px;
}

/*
.container-fluid{
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
}
*/

.intro{
    text-align: center;
    margin-top: 102.5px;
    margin-bottom: 102.5px;
}

.intro img{
    max-width: 200px;
    margin-bottom: 25px;
}

.intro-title{
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
}

.intro-subtitle{
    font-size: 2.5rem;
}

.intro-subtitle span{
    color: #DE4F22;
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
}

.author-right{
    background-color: black;
}

.author-nick{
    font-size: 9.6rem;
    font-weight: bold;
    text-transform: uppercase;
}

.author-name{
    font-size: 2.5rem;
    font-weight: bold;
}

.author-desc{
    font-size: 1.7rem;
    max-width: 400px;
}

.author-nick-right, .author-desc-right{
    color: #DE4F22;
}

.author-name-right{
    color: #FFD162;
}

.author-nick-left, .author-desc-left{
    color: #000000;
}

.author-name-left{
    color:#DE4F22;
}

.right-author{
    padding-right: 4rem;
}

.author-photo{
    width: 100%;
    min-width: 30%;
    height: auto;
}

.button-right{
    position:absolute;
    right:5rem;
    bottom:2rem;
}

.button-right > button{
    background-color: #FFD162;
    color:#000000;
}

.button-right > button:hover{
    color: #DE4F22;
}

.button-left{
    position: absolute;
    left: 4rem;
    bottom: 2rem;
}

.button-left > button{
    background-color: #DE4F22;
    color:#FFD162;
}

#feedback{
    min-height: 100vh;
    display: flex;
}

.wrapper-feedback{
    margin: auto;
}

.feedback-part{
    background-color: black !important;
}

.short-message{
    color: #FFD162;
    text-align: center;
    padding: 50px 0;
}

.short-message h1{
    font-size: 3.5rem;
}

.short-message span{
    color: #DE4F22;
    font-weight: bold;
    font-size: inherit;
    font-family: inherit;
}

textarea#id_pesan{
    background-color: black;
}

.form-group p label{
    color: black;
}

textarea.border{
    color: #FFD162 !important;
    border-color: #DE4F22 !important;
    font-size: 22px;
}

.button-left button, .button-right button, .button-submit button{
    width: 100%;
    height: 100%;
    text-align: center !important;
}

.btn{
    padding: 0;
    font-size: 1.5rem;
}

.button-submit, .button-left, .button-right{
    width: 150px !important;
    height: 45px;
}

.button-submit button{
    background-color: #DE4F22;
    color: #FFD162;
    border-radius: 50rem;
}

::placeholder{
    color: #FFD162 !important;
}


.img-fluid{
    min-width: 60%;
}

p.author-desc-right{
    float: right !important;
}

h6 a:link, h6 a:visited{
    color: #DE4F22 !important;
}

.has-submit h1{
    padding-top:30px;
}

.has-submit h4{
    padding-bottom: 15px;
}


.has-submit.container-fluid{
    min-height: 79.8vh;
}

footer{
    background-color: #FFD162;
    
}

